<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Vertical Bar Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle>
      <ion-card-title>Game of Thrones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <!-- <ion-tab-button (click)="openCamera()">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Photo</ion-label>
    </ion-tab-button> -->

    <ion-button (click)="presentModal()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="folder"></ion-icon> 
    </ion-button>
  </ion-card>

  <ion-card *ngFor="let item of tasks">
    <div padding>
      <ion-card-title padding>  
        {{item.titulo}}
      </ion-card-title >
      <ion-card-subtitle padding>
      {{item.tipo}}
    </ion-card-subtitle>
    
    <ion-card-content padding>
      <p>
        {{item.descricao}}
      </p>
    </ion-card-content>
  </div>
  </ion-card>
</ion-content>
